
@model Projekat_Hotel.Models.StatusSobe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Sigurni ste da želite da obrišete ovaj status sobe?</h3>
<div>
    <h4>StatusSobe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivStatusa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivStatusa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        @Html.ActionLink("Svi statusi", "SviStatusi", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
    </div>
    }
</div>
