
@{
    ViewBag.Title = "Storno";
}

<h2>Račun uspesno storniran</h2>

<div>
    @Html.ActionLink("Spisak računa", "SviRacuni", null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</div>

